@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600;700&family=Maven+Pro:wght@400;700&display=swap');
:root{
    --bg: #1B1B32;
    --header: #0A0A23;
    --white: #F5F6F7;
    --gray: #3B3B4F;
    --orange: #F1A02A;
    --orange-light: #FECC4C;
    --pixels: 16;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    background-color: var(--bg);
    color: var(--white);
    font-family: 'Karla', sans-serif;
}
.header{
    margin-bottom: 8rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--header);
}
.header h1{
    font-size: 3rem;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
}
.board{
    display: grid;
    width: 480px;
    height: 480px;
    background-color: white;
    grid-template-columns: repeat(var(--pixels),auto);
    grid-template-rows: repeat(var(--pixels),auto) ;
}
.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 20rem;
}

/* remvoe "Color Picker" borders */
::-webkit-color-swatch{
    border: none;
}
::-moz-color-swatch{
    border: none;
}

.color-picker{
    width: 4rem;
    height: 4rem;
    border: none;
    background: none;
}
.btn{
    position: relative;
    font-size: 1.4rem;
    width: 60%;
    padding: .4rem;
    border: 1px solid white;
    background-color: var(--gray);
    color: var(--white);
    border-radius: .3rem;
}
.btn:hover{
    background-color: var(--white);
    color: var(--gray);
}
.focus, .btn:active{
    border-color: var(--orange-light);
    background: linear-gradient(var(--orange-light), var(--orange));
    color: var(--white);
}
.focus:hover{
    color: var(--white);
}
.pixels{
    font-size: 1.4rem;
}
input[type="range"]{
    width: 60%;
}
.footer{
    width: 100%;
    position: fixed;
    bottom: 1rem;
    display: flex;
    justify-content: center;
    color: var(--gray);
}
a{
    text-decoration: none;
    color: var(--gray);
}
a:visited{
    color: var(--gray);
}
a:hover{
    color: white;
}